# a comment - this is ignored

# tilde files
*~

# Folders
Course Material/
ideas/
reference/

# Files in the workdir
*.aux
*.bbl
*.bib
*.blg
*.ins
*.lof
*.log
*.lot
*.out
*.pdf
*.run.xml
*.spl
*.sty
*.tex
*.toc